*,
*::after,
*::before {
	margin: 0px;
	padding: 0px;
	font: inherit;
	box-sizing: border-box;
}

img,
audio,
video {
	display: block;
	max-width: 100%;
}

html,
body {
	height: 100%;
}

.menuChosen {
	background-color: red;
}

.menuIdle {
	background-color: blueviolet;
}

.footer {
	width: 100vw;
	background-color: #e53170;
	gap: 50px;
	padding: 30px;
	margin: 10px;
	position: sticky;
	height: 15%;
}

.menu {
	list-style-type: "📎";
	text-align: left;
	display: flex;
	background-color: #e53170;
	width: 100vw;
	gap: 50px;
	padding: 30px;
}

.sticky {
	position: sticky;
	top: 10px;
}

.space {
	display: flex;
	justify-content: space-evenly;
}

.signOut {
	color: black;
	cursor: pointer;
}

.breathe {
	margin: 20px;
}

.delete {
	background-color: #e53170;
	color: black;
	border-color: black;
}

.borderOrange {
	border-color: #ff8906;
	color: #ff8906;
}

.borderGrey {
	border-color: #a7a9be;
	color: #a7a9be;
}

.borderPink {
	border-color: #e53170;
}

.important {
	text-decoration: underline;
	color: #e53170;
}

.all {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.students {
	display: flex;
	flex-direction: column;
	border: 1px solid #a7a9be;
	justify-content: center;
	align-items: center;
	width: 80vw;
}

td {
	border: 1px solid #e53170;
	width: 50%;
}

.table {
	text-align: left;
	margin: 10px;
	border: 1px solid #ff8906;
	padding: 10px;
	width: 70vw;
}

.thead {
	text-align: center;
}
.tfoot {
	border: none;
}
